@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

span {
    font-size: 15px;
    color: white;
    font-weight: 400;
}

p {
    font-size: 15px;
    color: white;
    font-weight: 400;
    line-height: 20px;
}

h1 {
    text-align: center;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
}

h2 {
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: 400;
}

h3 {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
}

.topnav {
    width: 100%;
    height: 120px;
    background-color: #864f9c;
    display: flex;
    justify-content: center;
    &__content {
        width: 80%;
        max-width: 1100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        color: white;
        &__logo {

            display: flex;
            justify-content: start;
            }
        &__menu {

                ul {
                display: flex;
                flex-wrap: wrap;
                padding: 0;
            }
            li {
                padding: 5px 30px;
                text-transform: uppercase;
                color: white;
                list-style-type: none;
                cursor: pointer;
            }
            &__active {
                border-radius: 3px;
                background-color: #633a79;
            }
        }
    }
}

.head {
    width: 100%;
    padding: 80px 0 100px 0;
    background-color: #864f9c;
    display: flex;
    flex-direction: column;
    align-items: center;
        &__text {
            max-width: 900px;
            margin-bottom: 60px;
            padding: 0 30px;
            text-align: center;
        }
}

.services {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #16c2a3;
        p {
            max-width: 500px;
            text-align: center;
        }
        &__services {
            margin-top: 100px;
            max-width: 1040px;
            background-color: #864f9c;
            display: flex;
            flex-wrap: wrap;
            &__block {
                flex: 1;
                padding: 120px 20px 10px 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                max-width: 260px;
                position: relative;
                    img {
                        position: absolute;
                        top: -40px;
                    }
            }

        }
}

.team {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e7f1f8;
        h1 {
            width: 80%;
            color: #3c4761;
        }
        p {
            width: 80%;
            color: #3c4761;
            text-align: center;
        }
        &__members {
            width: 80%;
            margin-top: 30px;
            max-width: 1100px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
                &__member {
                    flex: 1;
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    max-width: 260px;
                        h3 {
                            color: #3c4761;
                            text-align: center;
                        }
                        span {
                            color: #5dc8eb;
                            text-align: center;
                        }
                        &__profile{
                            width:200px;
                            height: 200px;
                            border-radius: 50%;
                            background-color: #878787;
                            margin-bottom: 20px;
                                img {
                                    border-radius: 50%;
                                    width: 100%;
                                }
                        }
                        &__social {
                            display: flex;
                            justify-content: center;
                                img {
                                    margin: 5px;
                                    cursor: pointer;
                                }
                        }
                }
        }
}

.skills {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
        h1 {
            width: 80%;
            color: #3c4761;
        }
        p {
            width: 80%;
            color: #3c4761;
            text-align: center;
            max-width: 600px;
        }
        &__content {
            width: 80%;
            margin-top: 30px;
            max-width: 1100px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
                &__skill {
                    flex: 1;
                    padding: 20px;
                    flex-direction: column;
                    align-items: center;
                    min-width: 150px;
                    max-width: 260px;
                        h3 {
                            color: #3c4761;
                            text-align: center;
                            margin-top: 20px;
                        }
                        &__image {
                            display: flex;
                            justify-content: center;
                            width: 100%;
                                img {
                                    width: 70%;
                                }
                        }
                }

        }
}

.portfolio {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffdd99;
        h1 {
            width: 80%;
            color: #393939;
        }
        p {
            width: 80%;
            color: #393939;
            text-align: center;
            max-width: 600px;
        }
        &__selection {
            margin-bottom: 20px;
            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
            li {
                margin: 5px;
                padding: 5px 30px;
                text-transform: uppercase;
                color: #393939;
                background-color: rgba(0, 0, 0, 0.1);
                list-style-type: none;
                border-radius: 3px;
                cursor: pointer;
            }
            &__active {
                background-color: rgba(255, 255, 255, 0.5) !important;
            }
        }
        &__projects {
            width: 80%;
            max-width: 1100px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
                &__item {
                    flex:1;
                    min-width:300px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                        &__pic {
                            width: 95%;
                                img {
                                    width: 100%;
                                }
                        }
                        p {
                            text-transform: uppercase;
                            font-weight: 700;
                        }
                }
        }
}

.people {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d74580;
        h1 {
            width: 80%;
        }
        p {
            width: 80%;
            text-align: center;
    }
        &__content {
            width: 80%;
            max-width: 1100px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
                &__item {
                    flex:1;
                    min-width:300px;
                    display: flex;
                    flex-wrap: wrap;
                    margin: 30px;
                     &__pic {
                         margin: 0 30px 0 0;
                         width: 100px;
                         height: 100px;
                         border-radius: 50%;
                         background-color: #777777;
                            img {
                                width: 100%;
                                border-radius: 50%;
                            }
                    }
                    &__text {
                        flex:1;
                        p {
                            font-size: 18px;
                            line-height: 25px;
                            font-weight: 400;
                            text-align: left;
                        }
                        h4 {
                            text-transform: uppercase;
                            color: white;
                            font-size: 18px;
                            margin: 0;
                        }
                        h5 {
                            color: #feda99;
                            font-size: 15px;
                            margin: 0;
                        }
                    }
                }
        }
}

.contact {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3c5399;
        h1 {
            width: 80%;
        }
        p {
            width: 80%;
            text-align: center;
            margin-bottom: 50px;
        }
        &__form {
            width: 800px;
            max-width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
                &__message {
                    width: 100%;
                    height: 200px;
                    padding: 15px 20px;
                    margin: 5px;
                    background-color: #273971;
                    border: none;
                    border-radius: 3px;
                    box-sizing: border-box;
                    resize: vertical;
            }
        }
}

#name {
    width: 390px;
    padding: 15px 20px;
    margin: 5px;
    background-color: #273971;
    color: white;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    resize: none;
        &::placeholder {
            color: #d74580;
        }
}

textarea {
    color: white;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;

}

.footer {
    width:100%;
    min-height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #334b8e;
    &__content {
        width: 80%;
        max-width: 1100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
            span {
                font-size: 18px;
                display: inline-block;
                cursor: pointer;
                padding: 5px;
            }
        &__active {
            color: #30bae7;
        }
    }
}

.button__orange {
    background-color: #eb7d4b;
    border-bottom: 3px solid #c86a40;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    &:hover {
        background-color: #f0540d;
    }
}

.button__green {
    margin-top: 50px;
    background-color: #17c1a3;
    border-bottom: 3px solid #14a48b;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    &:hover {
        background-color: #14a48b;
    }
}

.button__blue {
    margin-top: 50px;
    background-color: #2fb9e7;
    border-bottom: 3px solid #289dc5;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    &:hover {
        background-color: #289dc5;
    }
}

.separator {
    width: 80px;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 1000px) {
    .topnav {
        &__content {
            &__logo {
                width: 100%;
                justify-content: center;
                padding: 20px 0 10px 0;
                }
            &__menu {
                    ul {
                     justify-content: center;
                } 
            }
        }
    }
}

@media (max-width: 800px) {
    #name {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .services {
            &__services {
                &__block {
                    padding: 120px 20px 50px 20px;
                }
            }
    }

    .people {
        &__content {
            &__item {
                flex-direction: column;
                align-items: center;
                        &__pic {
                             width: 300px;
                             height: 300px;
                             margin: 0;
                        }
                        &__text {
                            display:flex;
                            flex-direction: column;
                            align-items: center;
                            p {
                                text-align: center;
                            }
                        }
                    }
            }
    }
}
